body {
    font-family: Arial, sans-serif;
    background-color:#0050d5;
    height: 100vh;
    color: #fff;
 
    
}

main {
    margin: 50px;
    text-align: center;
    justify-content: center;
    display: inline;
}
h3{
    font-size: 1.5em;
    margin: 20px;
}

.header {
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 0;
}

.navbar .container {
  justify-content: space-between;
}

.navbar-brand img {
  width: 125px;
}

.navbar-show-btn,
.navbar-hide-btn {
  background-color: transparent;
  width: 30px;
  transition: var(--transition);
}

button[class^="navbar"]:hover {
  transform: scale(1.1);
}

.navbar-collapse {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 8rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
  transform: translateX(110%);
  transition: var(--transition);
  z-index: 1000;
}

/* navbar show class */
.navbar-show {
  transform: translateX(0);
}

.navbar-hide-btn {
  position: absolute;
  top: 4.5rem;
  right: 2rem;
}

.nav-item {
  margin: 1.4rem 0;
}

.nav-link {
  opacity: 0.8;
  font-weight: 600;
  transition: var(--transition);
  display: inline-block;
}

.nav-link:hover {
  opacity: 1;
  color: var(--fros-blue-color);
  transform: translateX(10px);
}

.search-icon {
  display: block;
  width: 27px;
  margin-right: 1rem;
}

.search-control::placeholder {
  color: var(--light-gray);
}

.search-control {
  height: 27px;
  width: 100%;
  border-radius: 1.9rem;
  border: 2px solid var(--light-gray);
  padding: 0 1.5rem;
}


/* header inner */
.header-inner {
  padding-top: 16rem;
}

.header-inner-left h1 {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 0;
}

.header-inner-left h1 span {
  font-weight: 600;
  text-transform: uppercase;
}

.header-inner-left .lead {
  opacity: 0.9;
}

.header-inner-left .text {
  margin: 5.8rem 0;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.header-inner-left .btn-group {
  justify-content: center;
}

.header-inner-right {
  margin-top: 6rem;
}

.header-inner-right img {
  max-width: 520px;
  margin: 0 auto;
}




.container {
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.heading{
    text-align: center;
}
.header-inner {
    padding-top: 0;
    align-items: center;
  }

   h1 {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 0;
    align-items: center;
  }
  
  h1 span {
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
  }
  
  .header-inner .lead {
    opacity: 0.9;
    text-align: left;

  }
  
  .header-inner-left .text {
    margin: 0;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

  .header-inner-right {
    margin-top: 6rem;
    text-align: right; /* Align the text to the left */

  }
  
  .header-inner-right img {
    max-width: 520px;
    margin: 0 auto;
  }



header h1 {
    font-size: 2.5em;
    margin: 40px;
    text-align: center;;
}

header p {
    font-size: 1.2em;
    margin: 80px;
}

.header-text{
    font-size: 20px;
}

button {
    padding: 15px 30px;
    font-size: 1.2em;
    color: #4facfe;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #4facfe;
    color: #fff;
}

#result {
    justify-content: center;
    margin: auto;  /* Center horizontally */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
    padding-bottom: 100px;
}

/* Result Header */
.result-header {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Result Content */
.result-content {
    white-space: pre-wrap;
}


@media (min-width: 768px) {
    .header-inner-left h1 {
      font-size: 5.7rem;
    }
}

@media (min-width: 992px) {
    .header-inner {
      padding-top: 3.2rem;
    }
    .header-inner .container {
      grid-template-columns: 545px auto;
      align-items: center;
      height: calc(100vh - 32px);
      position: relative;
    }
    .header-inner-left {
      text-align: left;
    }
    .header-inner-left .text {
      margin-left: 0;
    }
    .header-inner-left .btn-group {
      justify-content: start;
    }
    .header-inner-right img {
      position: absolute;
      bottom: 0;
      right: 0;
      padding-left: 5rem;
    }
}

@media (min-width: 1200px) {
.header-inner-right {
    width: 100%;
  }
  .header-inner-right img {
    padding-left: 0;
    max-width: 647px;
  }
}

